/* Importando nova fonte para o sistema utilizando a API do google fonts */
@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

/* Reseta todo o arquivo para que facilitar a manipulação dos elementos do site */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    font-family: 'Press Start 2p', cursive;
}

body {
    min-width: 250px;
    min-height: 250px;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    background-color: #000;
    justify-content: center;
    align-items: center;

    background-image: url("../image/bg.png");
    background-color: #000;
}

:root {
    /* clap(Minimo, Ideal, Maximo*/
    --font-xl: clamp(1rem, 4vw + 0.1rem, 2rem);
    --font-md: clamp(0.7rem, 2vw + 0.1rem, 1rem);
}