body {
    height: 100%;
    width: 100%;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    display: flex;

    background-color: #000;
    justify-content: center;
    align-items: center;
}

/*Definido os conteúdo e os itens do elemento para ficarem no centro*/
.centralizar {
    justify-content: center;
    align-items: center;
}

/*Bloco flutuante para o usuario logar*/
.loginGame {

    display: flex;
    flex-direction: column;
    /*Difinições para manter o texto no centro da tela*/
    padding: 30px;
    overflow-y: auto;

    /*Proporções de tamanho*/
    width: 40%;
    height: 54%;
    max-width: 400px;
    max-height: 300px;
    min-width: 220px;
    min-height: 220px;

    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25px;
}

/*Só definimos a largura da foto para manter a proporções da foto*/
.logo{
    width: 25vw;
    max-width: 140px;
    min-width: 100px;
}

.loginGame h1{
    font-size: 2.5vw;
    text-align: center;
    padding: 10px;
}

/*DIV responsavel pela organização dos inputs onde o usuario colocar o nome dos usuarios*/
.namePlayer {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

/*Estilização do input onde a pessoa coloca o nome*/
.InputPlayer {
    text-align: center;
    border-radius: 15px;
    width: 60%;
    padding: 5px;
}

.loginGame button{
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
    padding: 7px;
    border-radius: 15px;
    background-color: blue;
    color: #FFF;
    cursor: pointer;
}

.loginGame button:hover{
    background-color: #FFF;
    color: #000;
}