@import url('./reset_style.css');

:root {
    /* clap(Minimo, Ideal, Maximo*/
    --font-xl: clamp(3rem, 7vw + 0.1rem, 2rem);
    --font-md: clamp(2.7rem, 5vw + 0.1rem, 1rem);
}


.loginGame {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 15px;

    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.6);
}

.login_header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--font-xl);
    text-align: center;
}

.login_header img {
    width: 50%;
    max-width: 250px;
    min-width: 150px;
}



.loginGame h1 {
    font-size: var(--font-xl);
    text-align: center;
    padding: 10px;
}

/*DIV responsavel pela organização dos inputs onde o usuario colocar o nome dos usuarios*/
.namePlayer {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Estilização do input onde a pessoa coloca o nome*/
.InputPlayer {
    text-align: center;
    border-radius: 15px;
    width: 70%;
    min-width: 250px;
    font-size: var(--font-md);
    padding: 5px;
}

.loginGame button {
    width: 30%;
    min-width: 150px;

    margin-top: 5%;
    padding: 7px;
    border-radius: 15px;
    background-color: blue;
    border: 2px transparent solid;
    color: #FFF;
    font-size: var(--font-md);
    font-weight: bold;
    cursor: pointer;
}

.loginGame button:hover {
    background-color: #FFF;
    color: #000;
    border: 2px blue solid;
}