@import url('./reset_style.css');

body {

    background-color: #000;
}

/*Bloco flutuante para o usuario logar*/
.loginGame {

    padding: 25px;
    min-width: 160px;

    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25px;
}

.logo{
    aspect-ratio: 1/1;
    height: 15vw;
    max-height: 240px;
    min-height: 70px;
}

.loginGame h1{
    font-size: var(--font-xl);
    text-align: center;
    padding: 10px;
}

/*DIV responsavel pela organização dos inputs onde o usuario colocar o nome dos usuarios*/
.namePlayer {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Estilização do input onde a pessoa coloca o nome*/
.InputPlayer {
    text-align: center;
    border-radius: 15px;
    width: 70%;
    min-width: 130px;
    font-size: var(--font-md);
    padding: 5px;
}

.loginGame button{
    width: 30%;
    min-width: 50px;

    margin-top: 5%;
    padding: 7px;
    border-radius: 15px;
    background-color: blue;
    color: #FFF;
    cursor: pointer;
}

.loginGame button:hover{
    background-color: #FFF;
    color: #000;
}